@import "form";

$tableCSS: true;
$formCSS: false;
$width: 1170px;
$bg-color: #00f;
$font-color: #0ff;
$new-width: 50%;
$gutter-width: 5%;
$font-size: 12px;
$line-height: 18px;

$color1: #f00;
$color2: #00f;

$col-offset: 1;


#main
{
  background: $bg-color;
  width: $width;

  @import "basic.scss";


  font: #{$font-size}/#{$line-height} bold;
  border: 1px solid #f0f;

  color: $color1 - $color2;

  p
  {
    font-weight: bold;
    width: $new-width/2 + $gutter-width;

  }

  a {
    text-decoration: none;
    color: $font-color;
  }

  ul {
    list-style: none;
    float: left;
  }

  li {
    float: left;
    margin-left: 20px;
  }

  .border {
    border: 1px solid #00ff00;
    border-radius: 10px;
  }



  .border-with-bg {
    @extend .border;
    @extend .bigborder !optional;
    border-radius: 25px;
    bgcolor: #f0f0f0;
  }

  %flex {
    color: #fff;
  }

  .my-flex {
    @extend %flex;
  }

  .icon-flex {
    @extend %flex;
  }


  @mixin mybox($width, $color) {

    p {

      font-family: "Al Bayan";
      font-size: 10px;
      font-weight: bold;
      width: $width;
      background: $color;

    }


    color: red;
    border: none;
  }

  .newbox {
    @include mybox(80%, blue);
    border: 1px solid #000;

  }

  .anothernewbox {
    @include mybox(50%, red);
    border: 1px solid #000;
  }

}

@each $icon in asterisk, plus, minus, check {
  .glyphicon-#{$icon} {
    background: url(../images/#{$icon}.png);
  }
}

