form {
  border: 1px solid #000; }

#main {
  background: #00f;
  width: 1170px;
  font: 12px/18px bold;
  border: 1px solid #f0f;
  color: red; }
  #main #basic {
    font-family: 'Ubuntu', sans-serif; }
  #main #div {
    color: #00ffff; }
    #main #div .inactive {
      background: #f0f0f0;
      color: #ccc; }
  #main .active {
    border: 1px solid #000; }
  #main p {
    font-weight: bold;
    width: 30%; }
  #main a {
    text-decoration: none;
    color: #0ff; }
  #main ul {
    list-style: none;
    float: left; }
  #main li {
    float: left;
    margin-left: 20px; }
  #main .border, #main .border-with-bg {
    border: 1px solid #00ff00;
    border-radius: 10px; }
  #main .border-with-bg {
    border-radius: 25px;
    bgcolor: #f0f0f0; }
  #main .my-flex, #main .icon-flex {
    color: #fff; }
  #main .newbox {
    color: red;
    border: none;
    border: 1px solid #000; }
    #main .newbox p {
      font-family: "Al Bayan";
      font-size: 10px;
      font-weight: bold;
      width: 80%;
      background: blue; }
  #main .anothernewbox {
    color: red;
    border: none;
    border: 1px solid #000; }
    #main .anothernewbox p {
      font-family: "Al Bayan";
      font-size: 10px;
      font-weight: bold;
      width: 50%;
      background: red; }

.glyphicon-asterisk {
  background: url(../images/asterisk.png); }

.glyphicon-plus {
  background: url(../images/plus.png); }

.glyphicon-minus {
  background: url(../images/minus.png); }

.glyphicon-check {
  background: url(../images/check.png); }

/*# sourceMappingURL=input.css.map */
