/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2017, 10:44:19 AM
    Author     : gurudev
*/


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 800px;
    align-content: flex-start;
}

.flex-item {
    min-height: 200px;
    min-width: 100px;
    padding: 20px;
    border: 1px solid #000;
    flex-grow: 1;
    font-family: 'Ubuntu', sans-serif;
}

.flex-item:nth-of-type(odd) {
    flex-grow: 6;
    align-self: flex-start;
}

.flex-item:nth-of-type(1) { order: 2}
.flex-item:nth-of-type(2) { order: 3}
.flex-item:nth-of-type(3) { order: 1}
.flex-item:nth-of-type(4) { order: 4}
.flex-item:nth-of-type(5) { order: 5}
.flex-item:nth-of-type(6) { order: 6}
.flex-item:nth-of-type(7) { order: 7}
.flex-item:nth-of-type(8) { order: 8}