

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.mheight100 {
    min-height: 100px;
}

.width25p {
    width: 25%;
}

.navbar {
    background: chocolate;
    color: #fff;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.collapse navbar-collapse > .dropdown-menu {
    background: chocolate;
}

.chocolate {
    background: chocolate;
}

.mt50 {
    margin-top: 50px;
}